<!DOCTYPE html>
<html lang="vi" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CarStation - Giới thiệu</title>
    <link rel="icon" href="../assets/img/logo/logo.png" type="image/gif" sizes="16x16">
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/app.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/lienHe.css" rel="stylesheet" type="text/css" />
    <style>
       
    </style>
</head>

<body>
    <!-- nav-bar -------------------------------------------------------------------------------- -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pb-1 d-tablet-none">
        <div class="container w-100">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto nav-top">
                    <li class="nav-item">
                        <a href="tel:07068232xx" class="px-2 py-3">Hotline: 0706 823 2xx (8h- 11h, 13h30- 17h)</a>
                    </li>
                    <li class="nav-item">
                        <a href="../pages/timCuaHang.html" class="px-2 py-3">Tìm cửa hàng</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item pl-4">
                        <a class="nav-link btn btn-sm font-weight-bold py-1" href="signin.html">ĐĂNG NHẬP </a>
                    </li>
                    <li class="nav-item d-tablet-none">
                        <a class="nav-link btn btn-primary btn-sm font-weight-bold py-1" style="color:white;"
                            href="#">ĐĂNG KÝ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container w-100">
            <a class="navbar-brand" href="../index.html">
                <h2 class="font-weight-bold" style="color:#FCA311">CarStation</h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ml-3" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto font-weight-bold nav-bottom">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">TRANG CHỦ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="oto.html">Ô TÔ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="bike.html">XE MÁY</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="lienHe.html">LIÊN HỆ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-tablet-block" href="signin.html">ĐĂNG NHẬP </a>
                    </li>
                    <li class="nav-item d-tablet-block">
                        <a class="nav-link d-tablet-block" href="signup.html">ĐĂNG KÝ</a>
                    </li>
                </ul>
                <form id="search" class="d-tablet-none">
                    <label for="txtSearch"><button type="submit"><i class="fa fa-search"
                                aria-hidden="true"></i></button></label>
                    <input type="text" name="txtSearch" id="txtSearch" placeholder="Tìm kiếm" />
                    <button type="reset"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></button>
                </form>
                <a href="gioHang.html" id="cart"><i class="fa fa-shopping-cart text-primary" aria-hidden="true"></i></a>
            </div>
        </div>
    </nav>
    <!-- main content-------------------------------------------------------------------------------- -->
    <div id="app">
        <div class="container">
            <h3 class="text-center font-weight-bold mt-1" style="color: #FCA311;">
                Liên hệ với CarStation
            </h3>
            <div class="row">
                <div class="col-md-5">
                    <img src="../assets/img/contact.jpg" class="img-fluid" />
                </div>
                <div class="col-md-7">
                    <form name="frmLienHe" id="frmLienHe" method="post" action="#" novalidate="true" @submit="kiemTra">
                        <div v-if="thongBao()"></div>
                        <div class="form-group input-group-lg">
                            <label class="frmLabel" for="txtEmail">Email<span style="color:red">*</span></label>
                            <input type="email" class="form-control" name="txtEmail" id="txtEmail" v-model="txtEmail" />
                            <span style="font-size:80%;color:red" v-if="email_error != ''">{{email_error}}</span>
                        </div>
                        <div class="form-group input-group-lg">
                            <label class="frmLabel" for="txtPhone">Số điện thoại<span style="color:red">*</span></label>
                            <input type="text" class="form-control" name="txtPhone" id="txtPhone" v-model="txtPhone" />
                            <span style="font-size:80%;color:red" v-if="phone_error != ''">{{phone_error}}</span>
                        </div>
                        
                        <div class="form-group input-group-lg">
                            <label class="frmLabel" for="txtMess">Lời nhắn của bạn<span style="color:red">*</span></label>
                            <textarea class="form-control" rows="7" aria-label="With textarea" name="txtPhone" id="txtMess" v-model="txtMess"></textarea>
                            <span style="font-size:80%;color:red" v-if="mess_error != ''">{{mess_error}}</span>
                        </div>
                        <button type="submit" class="btn btn-primary mb-3">Gửi</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer-area">
            <div class="container-fluid" id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 d-md-none">
                            <ul class="list-nonestyle d-flex justify-content-center">
                                <ul class="list-nonestyle">
                                    <li class="h3 social">
                                        <a href="#"><i class="fa fa-instagram mx-2" ar ia-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter mx-2" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-facebook mx-2" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-google-plus mx-2" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                        <div class="col-md-3 fcol">
                            <ul class="list-nonestyle">
                                <li id="lhFooter">
                                    <i class="fa fa-caret-down d-block d-md-none" style="float: right"
                                        aria-hidden="true"></i>
                                    <h6 class="font-weight-bolder">Liên hệ</h6>
                                </li>
                                <li>
                                    <ul class="list-nonestyle listFooter" id="lhList">
                                        <li>
                                            <a href="tel:07068232xx">0706 823 2xx</a>
                                        </li>
                                        <li>
                                            <a href="mailto:tqthaid20085@cusc.ctu.edu.vn">tqthaid20085@cusc.ctu.edu.vn</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 fcol">
                            <ul class="list-nonestyle">
                                <li id="carFooter">
                                    <i class="fa fa-caret-down d-block d-md-none" style="float: right"
                                        aria-hidden="true"></i>
                                    <h6 class="font-weight-bolder">Ô tô</h6>
                                </li>
                                <li>
                                    <ul class="list-nonestyle listFooter" id="carList">
                                        <li>
                                            <a href="#">Sedan</a>
                                        </li>
                                        <li>
                                            <a href="#">SUV</a>
                                        </li>
                                        <li>
                                            <a href="#">MPV</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 fcol">
                            <ul class="list-nonestyle">
                                <li id="bikeFooter">
                                    <i class="fa fa-caret-down d-block d-md-none" style="float: right"
                                        aria-hidden="true"></i>
                                    <h6 class="font-weight-bolder">Xe Máy</h6>
                                </li>
                                <li>
                                    <ul class="list-nonestyle listFooter" id="bikeList">
                                        <li>
                                            <a href="#">Xe số</a>
                                        </li>
                                        <li>
                                            <a href="#">Xe côn tay</a>
                                        </li>
                                        <li>
                                            <a href="#">Xe tay ga</a>
                                        </li>
                                        <li>
                                            <a href="#">Xe điện</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 fcol d-none d-md-block">
                            <ul class="list-nonestyle">
                                <h6 class="font-weight-bolder">Social</h6>
                                <ul class="list-nonestyle listFooter">
                                    <li class="h4 social">
                                        <a href="#"><i class="fa fa-instagram mx-1" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter mx-1" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-facebook mx-1" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-google-plus mx-1" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </ul>
                            <ul class="list-nonestyle">
                                <h6 class="font-weight-bolder">Phương thức thanh toán</h6>
                                <li class="ml-3" id="thanhToan">
                                    <img src="../assets/img/bank/visa.svg" />
                                    <img src="../assets/img/bank/mastercard.svg" />
                                    <img src="../assets/img/bank/jcb.svg" />
                                    <br />
                                    <img src="../assets/img/bank/cash.svg" />
                                    <img src="../assets/img/bank/internet-banking.svg" />
                                    <img src="../assets/img/bank/installment.svg" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-right">
                            <ul class="list-nonestyle copyright-content">
                                <li>
                                    <a href="#">Chính sách Bảo mật</a>
                                </li>
                                <li>
                                    <a href="#">Điều Khoản và Điều Kiện</a>
                                </li>
                                <li>
                                    <a href="#">Thông tin công ty</a>
                                </li>
                                <li>
                                    Bản quyền bởi &copy;<a href="index.html">CarStation</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="../vendor/jQuery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../vendor/vue/vue.js"></script>
    <script src="../vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="../assets/js/lienHe.js"></script>
    <script>

    </script>
</body>

</html>