<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CarStation - Đăng nhập </title>
    <link rel="icon" href="../assets/img/logo/logo.png" type="image/gif" sizes="16x16">
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/app.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/signin.css" rel="stylesheet" type="text/css" />
    <style>
    </style>
</head>

<body>

    <div class="container">
        <div class="row mt-5">
            <div class="col-1"></div>
            <div class="col-10 signin-area">
                <div class="container">
                    <div class="row">
                        <div class=" col-md-6 d-none d-md-block text-center">
                            <img src="../assets/img/login.png" class="img-fluid">
                            <p class="mb-2">Đăng nhập để theo dõi đơn hàng, nhận ưu đãi và được sự hỗ trợ tốt nhất
                                của chúng tôi!</p>
                        </div>
                        <div class="col-md-6">
                            <div class="title mt-2">
                                <h1 class="font-weight-bold" style="color:#FCA311">Đăng nhâp</h1>
                                <a href="#"><u>Bạn quên tên đăng nhập/mật khẩu?</u></a>
                            </div>
                            <div id="app">
                                <form name="frmSignin" id="frmSignin" method="post" action="#"  novalidate="true" @submit="kiemTra">
                                    <div v-if="thongBaoDangNhap()"></div>
                                    <div class="form-group input-group-lg">
                                        <label for="txtUser" id="lbUser" >Tên đăng nhập <span style="color:red">*</span></label>
                                        <input type="text" class="form-control" name="txtUser" id="txtUser" 
                                            v-model="txtUser" />
                                        <span style="font-size:80%;color:red" v-if="user_error != ''">{{user_error}}</span>
                                    </div>
                                    <div class="form-group input-group-lg">
                                        <label for="txtPassword" id="lbPassword">Mật khẩu <span style="color:red">*</span></label>
                                        <input type="password" class="form-control" name="txtPassword"
                                            id="txtPassword" v-model="txtPassword" />
                                        <span style="font-size:80%;color:red" v-if="pass_error != ''">{{pass_error}}</span>
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-3">Đăng nhập </button>
                                    <span style="color:gray">hay</span>
                                    <a href="signup.html" class="btn btn-secondary mb-3">Đăng ký</a>
                                    
                                </form>
                            </div>
                            <a href="../index.html"
                                style="position: absolute; right:2px; bottom: 2px; text-decoration: underline;">Trang
                                chủ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../vendor/jQuery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../vendor/vue/vue.js"></script>
    <script src="../assets/js/signin.js"></script>
</body>

</html>